<!doctype HTML>
<script type="text/javascript">
    var siteSettings = {
        name: "ABNB Federal Credit Union",
        fiType: "credit-union",
        primaryPhoneNumber: "(800) 443-1141",
        logos: "[ncua, eh]".replace(/\[|\]/g, '').split(', ')
    }

</script>
<html>

<head>
    <!-- Head Top -->
    <!-- End Head Top -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8">
    <title>ABNB FCU | Virginia Beach, VA - Chesapeake, VA - Norfolk, VA - Moyock, NC</title>
    <script type="text/javascript">
        var FEDApp = FEDApp || {};
        FEDApp.previewMode = false;
    </script>
    <script type="text/javascript" src="https://thisisfirstbranch.com/custom/fed-library/production/js-library/firstbranch-logo.js"></script>
    <link rel="shortcut icon" href="/assets/image/favicon.ico" />
    <link type="image/x-icon" href="/assets/image/favicon.ico" rel="icon" />
    <link rel="stylesheet" href="/assets/css/fancy-box/jquery.fancybox.css" media="all">
    <link rel="stylesheet" href="/assets/css/all-styles.css" media="screen, handheld, projection">
    <link rel="stylesheet" media="print" href="/assets/css/print.css">
    <script type="text/javascript" src="/assets/javascript/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/assets/javascript/fancybox/jquery.fancybox.js"></script>
    <script type="text/javascript" src="/assets/javascript/jquery.alerts.js"></script>
    <script type="text/javascript" src="https://shared.firstbranchdemo.com/application/fed-library/production/js-library/speedbumps.js"></script>
    <link rel="stylesheet" href="/assets/css/banner.css" media="screen, handheld, projection">
    <script type="text/javascript" src="/assets/javascript/fed-core.js"></script>
    <script type="text/javascript" src="/assets/javascript/modernizr.js"></script>
    <script type="text/javascript" src="/assets/javascript/global.js"></script>
    <script type="text/javascript" src="/assets/javascript/smartappbanner.js"></script>
    <script type="text/javascript" src="/assets/javascript/mobile-banners.js"></script>
    <script type="text/javascript" src="/assets/javascript/jquery.cycle2.min.js"></script>
    <script>
        $f(document).ready(function () { $f('#bigWrapper').on('touchstart', function (event) { }); });
    </script>
    <script type="text/javascript" src="https://shared.firstbranchdemo.com/application/fed-library/production/browserwarnV2/warning.js"></script>
    <!-- Head Bottom -->
    <link href="index.html" rel="canonical" />
    <script type="text/javascript" src="https://cdn.bancvueonline.com/js/cm/eluminate-4.12.16.js"></script>
    <script type="text/javascript">
        cmSetClientID('90413968;90419233', false, 'data.coremetrics.com', 'abnbfcu.org');
    </script>
    <script type="text/javascript">
        cmSetupOther({ 'cm_TrackImpressions': '' });
    </script>
    <script type="text/javascript">
        cmCreatePageviewTag('1673:ABNB Federal Credit Union:/', '');
    </script>
    <!-- End Head Bottom -->
</head>

<body id="homePage">
    <!-- Body Top -->
    <!-- Google Tag Manager -->

    </script>
    <!-- End Google Tag Manager -->
    <!-- End Body Top -->
    <div id="bigWrapper">
        <div id="sideContent"></div>
        <div id="windowContent">
            <div class="superContainer forHeader">
                <div class="container">
                    <div id="header">
                        <div class="four columns">
                            <div class="primaryNavLink mobileSmall">
                                <i class="fa fa-bars"></i> Menu
                            </div>
                            <div class="oblToggler mobileSmall">
                                <i class="fa fa-lock"></i>Login
                            </div>
                            <div class="logo">
                                <a href="index.html" title="ABNB Federal Credit Union">
                                    <img src="/assets/image/logo-2x.png" alt="ABNB Federal Credit Union" />
                                </a>
                                <div class="printOnly">(800) 443-1141</div>
                            </div>
                        </div>
                        <!-- /four col -->
                        <div class="twelve columns">
                            <div class="ultratop">
                                <ul class="nthTier-1 ultraTopNav">
                                    <li class="nthChild-1  locations">
                                        <a class="nthChild-1 locations" href="about-us/locations-hours/index.html" title="Visit One Of Our 18 Convenient Locations"
                                            target="_self">Visit One Of Our 18 Convenient Locations</a>
                                    </li>
                                    <li class="nthChild-2  ">
                                        <a class="nthChild-2 " href="/account" title="Routing Number" target="_self">Routing Number</a>
                                    </li>
                                    <li class="nthChild-3  ">
                                        <a class="nthChild-3 " href="/account" title="Rates & Fees" target="_self">Rates & Fees</a>
                                    </li>
                                    <li class="nthChild-4  ">
                                        <a class="nthChild-4 " href="/app/contactus" title="Contact Us" target="_self">Contact Us</a>
                                    </li>
                                </ul>
                                <a href="/login">
                                    <div class="toggledOn oblToggled">
                                        <h2 class="togglesNext">
                                            Online Banking Login
                                        </h2>
                                    </div>
                                </a>
                                <a href="/signup">
                                    <div>Register online</div>
                                </a>

                            </div>
                        </div>
                        <div class="primaryNavWrapper">
                            <!-- primary nav test 2/11b-->
                            <ul class="nthTier-1 primaryNav">
                                <li class=" accounts">
                                    <a href="#" title="Accounts">Accounts</a>
                                    <ul class="nthTier-2">
                                        <li class="nthChild-1 ">
                                            <a href="/account" title="Personal Checking">Personal Checking</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class=" loans">
                                    <a href="#" title="Loans">Loans</a>
                                    <ul class="nthTier-2">

                                        <li class="nthChild-2 ">
                                            <a href="/loans" title="Business Loans">Business Loans</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class=" services-tools">
                                    <a href="#" title="Services & Tools">Services & Tools</a>
                                    <ul class="nthTier-2">
                                        <li class="nthChild-3 ">
                                            <a href="/service" title="Tools">Tools</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class=" about-us">
                                    <a href="#" title="About Us">About Us</a>
                                    <ul class="nthTier-2">
                                        <li class="nthChild-1 ">
                                            <a href="/app/aboutus" title="About ABNB">About ABNB
                                            </a>
                                        </li>
                                        <li class="nthChild-7 ">
                                            <a href="/app/contactus" title="Contact Us">Contact Us
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="search noMobile">
                                <div class="site-search">
                                    <form method="get" id="siteSearchForm" action="/home/search.html">
                                        <input type="text" id="dotQ" name="q" value="" placeholder="Search Our Site">
                                        <button type="submit" value="Search" class="searchsubmit">
                                            <i class="fa fa-search"></i>
                                        </button>
                                        <input type="hidden" id="page" name="p" value="">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="superContainer forBanner">
                <div id="bannerContainer">
                    <div id="banner">
                        <div id="bannerSlides" class="cycle-slideshow" data-cycle-slides="> div:not(#bannerPlayback)" data-cycle-prev="#prev" data-cycle-next="#next"
                            data-cycle-timeout="8000" data-cycle-random="true">
                            <noscript>
                                <h3>Hey friend, it looks like you have javascript disabled.</h3>
                                <p>For a richer experience, please adjust your browser settings.</p>
                            </noscript>
                            <div class="slide securlock-equip" style=>
                                <div class="container">
                                    <div class="slideContent">
                                        <h2>Protect Yourself Against Fraud with SecurLock!</h2>
                                        <p>SecurLock Equip is now available for both debit and credit cards! This is a free
                                            smartphone app, virtually identical to the CardValet app, and can be used to
                                            set spending limits, defend against fraud, and more!</p>
                                        <a href="services-tools/account-services/securlock.html" class="learnMore" title="Protect Yourself Against Fraud with SecurLock!">Learn More</a>
                                        <br/>
                                        <br/>
                                    </div>
                                </div>
                                <img class="noMobile" src="contentAsset/raw-data/1b823d67-6c2f-4506-9382-fa8e9d1c1411/securlock_HP.jpg" alt="Protect Yourself Against Fraud with SecurLock!"
                                />
                                <img class="mobile" src="contentAsset/raw-data/d5937794-adf1-4136-9dfa-b88aa5e2b8af/securlock_mobile.jpg" alt="Protect Yourself Against Fraud with SecurLock!"
                                />
                            </div>
                            <div class="slide odu-monarch-for-a-day!" style=>
                                <div class="container">
                                    <div class="slideContent">
                                        <h2>You Can Be an
                                            <strong>ODU Monarch for a Day!</strong>
                                        </h2>
                                        <p>Calling all Monarch's fans! Here's your chance to be a part of the action at the
                                            next ODU football game!</p>
                                        <a href="about-us/community-connection/odu-monarch-for-a-day.html" class="learnMore" title="You Can Be an <strong>ODU Monarch for a Day!</strong>">Register Today!</a>
                                        <br/>
                                        <br/>
                                    </div>
                                </div>
                                <img class="noMobile" src="/contentAsset/raw-data/5f253787-12ec-46ba-b3fc-de4ccb47233e/Monarch_HP.jpg" alt="You Can Be an <strong>ODU Monarch for a Day!</strong>"
                                />
                                <img class="mobile" src="contentAsset/raw-data/e917dd86-5517-4720-bbb0-712c0b8c99e4/Monarch_mobile.jpg" alt="You Can Be an <strong>ODU Monarch for a Day!</strong>"
                                />
                            </div>
                            <div class="slide auto-refinance" style=>
                                <div class="container">
                                    <div class="slideContent">
                                        <h2>Get more mileage out of your money!</h2>
                                        <p>Take advantage of great auto loan rates as low as 1.99%APR! With the money you'll
                                            be saving, you'll be jumping for joy before your next joy-ride!
                                            <br/>
                                            <strong>Don't delay - Rate ends soon!</strong>
                                        </p>
                                        <a href="loans/personal-loans/auto-loans.html" class="learnMore" title="Get more mileage out of your money!">Learn More Today!</a>
                                        <br/>
                                        <br/>
                                    </div>
                                </div>
                                <img class="noMobile" src="/contentAsset/raw-data/68f9c8d0-7551-4890-9f40-9bea420367a3/HP_Turbo2.jpg" alt="Get more mileage out of your money!"
                                />
                                <img class="mobile" src="contentAsset/raw-data/4c0a9261-aba4-406d-a6e1-f35e2bcb0985/HP_Turbomobile.jpg" alt="Get more mileage out of your money!"
                                />
                            </div>
                            <div class="slide hurricane-relief" style=>
                                <div class="container">
                                    <div class="slideContent">
                                        <h2>ABNB is
                                            <strong>here for our members</strong>
                                        </h2>
                                        <p>We want to lend our support to our members affected by Hurricanes Harvey and Irma.
                                            If you are currently living in the states affected by these hurricanes, ABNB
                                            has provided you with an automatic deferment of your upcoming loan payment. Should
                                            you have any questions, please call us at (757)523-5300.</p>
                                        <a href="loans/personal-loans/hurricane-loan-relief.html" class="learnMore" title="ABNB is <strong>here for our members</strong>">Click Here to Learn More</a>
                                        <br/>
                                        <br/>
                                    </div>
                                </div>
                                <img class="noMobile" src="/contentAsset/raw-data/d078bbf3-2e99-495c-882a-5853a3d42a51/HP_genericheart.jpg" alt="ABNB is <strong>here for our members</strong>"
                                />
                                <img class="mobile" src="/contentAsset/raw-data/4240b33f-7f97-433f-8550-d72949fcb75c/mobile_genericheart.jpg" alt="ABNB is <strong>here for our members</strong>"
                                />
                            </div>
                        </div>
                        <div id="bannerPlayback">
                            <div id="prev" data-cycle-cmd="pause">
                                <i class="fa fa-angle-left"></i>
                            </div>
                            <div id="next" data-cycle-cmd="pause">
                                <i class="fa fa-angle-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="superContainer forContent">
                <div class="container contentBody">
                    <div class="main sixteen columns">
                        <div class="featuredProducts">
                            <div class="fp open-an-account">
                                <div class="image">
                                    <img src="/contentAsset/raw-data/57917c97-8ef7-4fa9-98cf-e9040310b8f8/icon-account.png" alt="Icon-account.png" />
                                </div>
                                <h3>
                                    <a href="#">Payment gets easier
                                        <i class="fa fa-chevron-right"></i>
                                    </a>
                                </h3>
                                <p>Pay online in minutes &mdash; quick & easy.</p>
                            </div>
                            <div class="fp apply-for-a-loan">
                                <div class="image">
                                    <img src="/contentAsset/raw-data/13a50d39-f088-4665-8313-411af6c5faa6/icon-loan.png" alt="Icon-loan.png" />
                                </div>
                                <h3>
                                    <a href="#" target="_blank" class="confirm">Apply For A Loan
                                        <i class="fa fa-chevron-right"></i>
                                    </a>
                                </h3>
                                <p>Take advantage of our ridiculous rates.</p>
                            </div>
                        </div>
                        <div class="featured-rates-wrapper">
                            <h3>Featured Rates</h3>
                            <div class="featured-rate">
                                <div class="rate-label">
                                    Auto Loans </div>
                                <div class="rate-content">
                                    <span>Rates as low as</span>
                                    <span class="rate">1.99% APR*</span>
                                    <a href="loans/personal-loans/auto-loans.html">Learn More</a>
                                </div>
                            </div>
                            <div class="featured-rate">
                                <div class="rate-label">
                                    Certificates </div>
                                <div class="rate-content">
                                    <span>Rates as high as</span>
                                    <span class="rate">2.20% APY*</span>
                                    <a href="accounts/personal-savings/share-certificates.html">Learn More</a>
                                </div>
                            </div>
                            <div class="featured-rate">
                                <div class="rate-label">
                                    Checking </div>
                                <div class="rate-content">
                                    <span>Rates as high as</span>
                                    <span class="rate">2.00%APY*</span>
                                    <a href="accounts/personal-checking/free-kasasa-cash-checking.html">Learn More</a>
                                </div>
                            </div>
                            <div class="featured-rate">
                                <div class="rate-label">
                                    Credit Cards </div>
                                <div class="rate-content">
                                    <span>Rates as low as</span>
                                    <span class="rate">7.99% APR*</span>
                                    <a href="loans/personal-loans/credit-cards.html">Learn More</a>
                                </div>
                            </div>
                            <div class="featured-rate">
                                <div class="rate-label">
                                    Mortgages </div>
                                <div class="rate-content">
                                    <span>Rates as low as</span>
                                    <span class="rate">3.327% APR*</span>
                                    <a href="loans/personal-loans/home-mortgage-loans.html">Learn More</a>
                                </div>
                            </div>
                        </div>
                        <div class="community-wrapper">
                            <div class="community-title">
                                <h2>SEE WHAT&rsquo;S GOING ON IN THE ABNB NEIGHBORHOOD</h2>
                            </div>
                            <div class="community-features">
                                <div class="featuredProducts community">
                                    <div class="fp">
                                        <div class="image">
                                            <img src="/contentAsset/raw-data/251c0c44-a19e-42b2-a2de-a1604548d33c/fp-comm-life.jpg" alt="Fp-comm-life.jpg" />
                                        </div>
                                        <h3>We're with you every step of the way!</h3>
                                        <a href="advice-planning/education/abnb-for-your-life.html">ABNB For Life
                                            <i class="fa fa-chevron-right"></i>
                                        </a>
                                    </div>
                                    <div class="fp">
                                        <div class="image">
                                            <img src="/contentAsset/raw-data/a0113b1c-3bfe-4277-b7b2-c02f7d55c3d8/fp-comm-connect.jpg" alt="Fp-comm-connect.jpg" />
                                        </div>
                                        <h3>Find out what we're up to.</h3>
                                        <a href="about-us/community-connection/index.html">Community Connection
                                            <i class="fa fa-chevron-right"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="featured-media">
                                    <div class="featured-video">
                                        <h3>Featured Video
                                            <span class="more">
                                                <a href="https://www.youtube.com/user/ABNBfcu" target="_blank" class="confirm">More
                                                    <i class="fa fa-chevron-right"></i>
                                                </a>
                                            </span>
                                        </h3>
                                        <a href="https://www.youtube.com/embed/PGaG4uTDMO4" class="fancybox fancybox.iframe videoEmbed">
                                            <img src="contentAsset/raw-data/6ceacde8-d6c3-4aaf-92fc-869f3e1eff8f/bvideo_thumb.jpg" alt="Bvideo_thumb.jpg" />
                                        </a>
                                    </div>
                                    <div class="latest-news">
                                        <h3>Latest News
                                            <span class="more">
                                                <a href="about-us/community-connection/news-events.html">More
                                                    <i class="fa fa-chevron-right"></i>
                                                </a>
                                            </span>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="superContainer forFooter">
                <div class="container">
                    <div class="prefooter">
                        <div class="pf-feature">
                            <div class="icon">
                                <img src="/images/icon-open.png" />
                            </div>
                            <div class="content">
                                <h3>Open.</h3>
                                <p>We’re open to our community.</p>
                                <a href="about-us/about-us.html">Learn More About ABNB
                                    <i class="fa fa-chevron-right"></i>
                                </a>
                            </div>
                        </div>
                        <div class="pf-feature">
                            <div class="icon">
                                <img src="/images/icon-honest.png" />
                            </div>
                            <div class="content">
                                <h3>Honest.</h3>
                                <p>Put money back in your wallet.</p>
                                <a href="advice-planning/honest-to-goodness-savings.html">Honest to goodness savings
                                    <i class="fa fa-chevron-right"></i>
                                </a>
                            </div>
                        </div>
                        <div class="pf-feature">
                            <div class="icon">
                                <img src="/images/icon-hardworking.png" />
                            </div>
                            <div class="content">
                                <h3>Hardworking.</h3>
                                <p>Get a loan that actually works for you.</p>
                                <a href="loans/personal-loans/index.html">Browse our loans
                                    <i class="fa fa-chevron-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div id="footer">
                        <div class="row">
                            <ul class="nthTier-1 quickLinksNav">
                                <li class="nthChild-1">
                                    <a class="nthChild-1 " href="home/tell-us-what-you-think.html" title="Tell Us What You Think" target="_self">
                                        <i class="fa fa-bullhorn"></i>Tell Us What You Think
                                    </a>
                                </li>
                                <li class="nthChild-2">
                                    <a class="nthChild-2 confirm" href="http://www.youtube.com/abnbfcu" title="Video Center" target="_blank">
                                        <i class="fa fa-binoculars"></i>Video Center
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="three columns">
                            <div class="social">
                                <a href="https://www.facebook.com/abnbfcu" class="confirm fb" target="_blank">
                                    <i class="fa fa-facebook-official"></i>
                                </a>
                                <a href="https://twitter.com/abnbfcu" class="confirm twitter" target="_blank">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="https://www.youtube.com/user/ABNBfcu" class="warn youtube" target="_blank">
                                    <i class="fa fa-youtube"></i>
                                </a>
                                <a href="https://www.instagram.com/abnbfcu/" class="confirm instagram" target="_blank">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </div>
                        </div>
                        <div class="seven columns">
                            <ul class="nthTier-1 footerNav">
                                <li class="nthChild-1">
                                    <a class="nthChild-1 " href="documents/PrivacyPolicy.pdf" title="Privacy Policy" target="_blank">Privacy Policy</a>
                                </li>
                                <li class="nthChild-2">
                                    <a class="nthChild-2 " href="home/disclosures.html" title="Disclosures" target="_self">Disclosures</a>
                                </li>
                                <li class="nthChild-3">
                                    <a class="nthChild-3 " href="home/routing-number.html" title="Routing Number" target="_self">Routing Number</a>
                                </li>
                                <li class="nthChild-4">
                                    <a class="nthChild-4 " href="services-tools/tools/faqs.html" title="FAQs" target="_self">FAQs</a>
                                </li>
                                <li class="nthChild-5">
                                    <a class="nthChild-5 " href="about-us/board-of-directors/index.html" title="Become A Volunteer" target="_self">Become A Volunteer</a>
                                </li>
                                <li class="nthChild-6">
                                    <a class="nthChild-6 " href="home/web-accessibility-and-usability.html" title="Web Accessibility" target="_self">Web Accessibility</a>
                                </li>
                            </ul>
                        </div>
                        <div class="six columns">
                            <div class="compliance">
                                <a href="home/ncua-federal-insurance.html" id="ncua"></a>
                                <div id="eh"></div>
                                <div id="bv-logo"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="copyright">
                                ABNB Federal Credit Union Copyright &copy; 2017. Portions copyright &copy; Kasasa Ltd. All rights reserved.
                            </div>
                            <div class="ada-copy">
                                ABNB Federal Credit Union is committed to providing a website that is accessible to the widest possible audience in accordance
                                with ADA standards and guidelines. We are actively working to increase accessibility and
                                usability of our website to everyone. If you are using a screen reader or other auxiliary
                                aid and are having problems using this website, please contact us at (757) 523-5300 or (800)
                                443-1141. All products and services available on this website are available at all ABNB Federal
                                Credit Union branches.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<!-- Body Bottom -->
<!-- Audio Eye -->
<script type="text/javascript">
    !function () {
        var t = function () {
            var t = document.createElement("script");
            t.src = "https://ws.audioeye.com/ae.js",
                t.type = "text/javascript",
                t.setAttribute("async", ""),
                document.getElementsByTagName("body")[0].appendChild(t)
        };
        "complete" !== document.readyState ? window.addEventListener ?
            window.addEventListener("load", t) : window.attachEvent &&
            window.attachEvent("onload", t) : t()
    }()

</script>
<!-- End Audio Eye -->
<!-- End Body Bottom -->