<!doctype HTML>
<script type="text/javascript">
  var siteSettings = {
    name: "ABNB Federal Credit Union",
    hostName: "abnbfcu.org",
    fiType: "credit-union",
    primaryPhoneNumber: "(800) 443-1141",
    logos: "[ncua, eh]".replace(/\[|\]/g, '').split(', ')
  }
</script>
<html>

<head>
  <!-- Head Top -->
  <!-- End Head Top -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta charset="utf-8">
  <title>Business Loans | ABNB FCU | Virginia Beach, VA - Chesapeake, VA - Norfolk, VA - Moyock, NC</title>
  <meta name="viewport"
    content="initial-scale=1.0, width=device-width">
  <meta name="description" content="	
">
  <meta name="keywords" content="	
">
  <script type="text/javascript">
    var FEDApp = FEDApp || {};
    FEDApp.previewMode = false;
  </script>
  <script type="text/javascript" src="https://thisisfirstbranch.com/custom/fed-library/production/js-library/firstbranch-logo.js"></script>
  <link rel="shortcut icon" href="/assets/image/favicon.ico" />
  <link type="image/x-icon" href="/assets/image/favicon.ico" rel="icon" />
  <link rel="stylesheet" href="/assets/css/fancy-box/jquery.fancybox.css" media="all">
  <link rel="stylesheet" href="/assets/css/all-styles.css" media="screen, handheld, projection">
  <link rel="stylesheet" media="print" href="/assets/css/print.css">
  <script type="text/javascript" src="/assets/javascript/jquery-1.8.3.min.js"></script>
  <script type="text/javascript" src="/assets/javascript/fancybox/jquery.fancybox.js"></script>
  <script type="text/javascript" src="/assets/javascript/jquery.alerts.js"></script>
  <script type="text/javascript" src="https://shared.firstbranchdemo.com/application/fed-library/production/js-library/speedbumps.js"></script>
  <script type="text/javascript" src="/assets/javascript/fed-core.js"></script>
  <script type="text/javascript" src="/assets/javascript/modernizr.js"></script>
  <script type="text/javascript" src="/assets/javascript/global.js"></script>
  <script type="text/javascript" src="/assets/javascript/smartappbanner.js"></script>
  <script type="text/javascript" src="/assets/javascript/mobile-banners.js"></script>
  <script type="text/javascript" src="/assets/javascript/jquery.cycle2.min.js"></script>
  <script>$f(document).ready(function () { $f('#bigWrapper').on('touchstart', function (event) { }); });</script>
  <script type="text/javascript" src="https://shared.firstbranchdemo.com/application/fed-library/production/browserwarnV2/warning.js"></script>
  <!-- Head Bottom -->
  <link href="index.html" rel="canonical" />
  <script type="text/javascript" src="https://cdn.bancvueonline.com/js/cm/eluminate-4.12.16.js"></script>
  <script type="text/javascript">cmSetClientID('90413968;90419233', false, 'data.coremetrics.com', 'abnbfcu.org');</script>
  <script type="text/javascript">cmSetupOther({ 'cm_TrackImpressions': '' });</script>
  <script type="text/javascript">cmCreatePageviewTag('1673:ABNB Federal Credit Union:/loans/business-loans/index.html', '');</script>
  <!-- End Head Bottom -->
</head>

<body id="categoryPage" class="business-loans">
  <!-- Body Top -->
  <!-- Google Tag Manager -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MS8LTN" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>
<script>
    if (window === top) {
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
          'gtm.start': new Date().getTime(),
          event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-MS8LTN');
    }
</script>
  <!-- End Google Tag Manager -->
  <!-- End Body Top -->
  <div id="bigWrapper">
    <div id="sideContent"></div>
    <div id="windowContent">
      <div class="superContainer forHeader">
        <div class="container">
          <div id="header">
            <div class="four columns">
              <div class="primaryNavLink mobileSmall">
                <i class="fa fa-bars"></i>
                Menu
              </div>
              <div class="oblToggler mobileSmall">
                <i class="fa fa-lock"></i>Login
              </div>
              <div class="logo">
                <a href="index.html" title="ABNB Federal Credit Union">
                  <img src="/assets/image/logo-2x.png" alt="ABNB Federal Credit Union" />
                </a>
                <div class="printOnly">(800) 443-1141</div>
              </div>
            </div>
            <!-- /four col -->
            <div class="twelve columns">
              <div class="ultratop">
                <ul class="nthTier-1 ultraTopNav">
                  <li class="nthChild-1  locations">
                    <a class="nthChild-1 locations" href="about-us/locations-hours/index.html" title="Visit One Of Our 18 Convenient Locations"
                      target="_self">Visit One Of Our 18 Convenient Locations</a>
                  </li>
                  <li class="nthChild-2  ">
                    <a class="nthChild-2 " href="home/routing-number.html" title="Routing Number" target="_self">Routing Number</a>
                  </li>
                  <li class="nthChild-3  ">
                    <a class="nthChild-3 " href="home/rates.html" title="Rates & Fees" target="_self">Rates & Fees</a>
                  </li>
                  <li class="nthChild-4  ">
                    <a class="nthChild-4 " href="about-us/contact-us.html" title="Contact Us" target="_self">Contact Us</a>
                  </li>
                </ul>
                <a href="/login"><div class="toggledOn oblToggled">
                    <h2 class="togglesNext">
                        <!-- <i class="fa fa-lock"></i>  -->
                        Online Banking Login</h2>
                    <!-- <div class="obLogin">
                        <style type="text/css">
                            .obLogin iframe {
                                height: 100px;
                                display: block;
                            }
                        </style>
                        <iframe frameborder="0" height="64" marginheight="0px" marginwidth="0px" scrolling="no" src="https://virtuoso.abnbfcu.org/ISuite5/Features/Auth/MFA/iFrameLoginMFABrandable.aspx"
                            width="100%"></iframe>
                    </div> -->
                    <!-- <span class="enroll">Need to enroll in Online Banking?
                        <a href="https://virtuoso.abnbfcu.org/ISuite5/Features/Auth/SelfEnrollment/SelfEnrollmentDisclosure.aspx?v4voo670ynvNKGUAoUgHng=lWgsTANjLfdqNi1U9cOOip"
                            target="_blank">Click here</a>
                    </span> -->
                </div></a>
              </div>
            </div>
            <div class="primaryNavWrapper">
                <!-- primary nav test 2/11b-->
                <ul class="nthTier-1 primaryNav">
                    <li class=" accounts">
                        <a href="#" title="Accounts">Accounts</a>
                        <ul class="nthTier-2">
                            <li class="nthChild-1 ">
                                <a href="/account" title="Personal Checking">Personal Checking</a>
                            </li>
<!--                                       
                            <li class="nthChild-3 ">
                                <a href="#" title="Personal Savings">Personal Savings</a>
                            </li> -->
                        </ul>
                    </li>
                    <li class=" loans">
                        <a href="#" title="Loans">Loans</a>
                        <ul class="nthTier-2">
                          
                            <li class="nthChild-2 ">
                                <a href="/loans" title="Business Loans">Business Loans</a>
                            </li>
                        </ul>
                    </li>
                    <li class=" services-tools">
                        <a href="#" title="Services & Tools">Services & Tools</a>
                        <ul class="nthTier-2">
                            
                            <!-- <li class="nthChild-2 ">
                                <a href="#" title="Cash Management">Cash Management</a>
                            </li> -->
                            <li class="nthChild-3 ">
                                <a href="/service" title="Tools">Tools</a>
                            </li>
                        </ul>
                    </li>
                    <li class=" about-us">
                        <a href="#" title="About Us">About Us</a>
                        <ul class="nthTier-2">
                            <li class="nthChild-1 ">
                                <a href="/app/aboutus" title="About ABNB">About ABNB
                                </a>
                            </li>
                            
                            <!-- <li class="nthChild-3 ">
                                <a href="about-us/board-of-directors/index.html" title="Board of Directors">Board of Directors</a>
                            </li> -->
                            <li class="nthChild-7 ">
                                <a href="/app/contactus" title="Contact Us">Contact Us
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="search noMobile">
                    <div class="site-search">
                        <form method="get" id="siteSearchForm" action="/home/search.html">
                            <input type="text" id="dotQ" name="q" value="" placeholder="Search Our Site">
                            <button type="submit" value="Search" class="searchsubmit">
                                <i class="fa fa-search"></i>
                            </button>
                            <input type="hidden" id="page" name="p" value="">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
      <div class="superContainer forContent">
        <div class="container contentBody">
          <div class="main">
            <div class="categoryHeader">
              <div class="imgWrapper">
                <img src="contentAsset/raw-data/d4f67a03-cb2d-4e6f-b944-08befa43859a/CategoryBanners-Desktop-Template_0005_BusinessLoans-290148488.jpg"
                  alt="CategoryBanners-Desktop-Template_0005_BusinessLoans-290148488.jpg" class="desktop" />
                <img src="contentAsset/raw-data/e2115e6b-de55-4560-84e8-edf3525274e1/_0005_BusinessLoans-Mobile-290148488.jpg"
                  alt="_0005_BusinessLoans-Mobile-290148488.jpg" class="mobile" />
              </div>
              <h2>
                business loans
              </h2>
            </div>
            <div class="row">
              <div class="sidebar default four columns">
                <ul id="leftNav" class="nthTier-1 secondaryNav">
                  <li class="inPath loans">
                    <ul class="nthTier-2">
                      <li class="nthChild-1 ">
                        <a href='personal-loans/index.html'>Personal Loans</a>
                        <ul>
                          <li class="" data-order="0">
                            <a href='personal-loans/home-mortgage-loans.html'>Home Mortgage Loans</a>
                          </li>
                          <li class="" data-order="1">
                            <a href='personal-loans/home-equity-loans.html'>Home Equity Loans</a>
                          </li>
                          <li class="" data-order="2">
                            <a href='personal-loans/auto-loans.html'>Auto Loans</a>
                          </li>
                          <li class="" data-order="2">
                            <a href='personal-loans/credit-cards.html'>Credit Cards</a>
                          </li>
                          <li class="" data-order="6">
                            <a href='personal-loans/onyx.html'>Onyx Card</a>
                          </li>
                          <li class="" data-order="8">
                            <a href='personal-loans/personal-loans.html'>Personal Loans</a>
                          </li>
                          <li class="" data-order="9">
                            <a href='personal-loans/student-loans.html'>Student Loans</a>
                          </li>
                        </ul>
                      </li>
                      <li class="nthChild-2 inPath">
                        <a href='index.html'>Business Loans</a>
                        <ul>
                          <li class="" data-order="1">
                            <a href='business-lines-of-credit.html'>Business Lines of Credit</a>
                          </li>
                          <li class="" data-order="2">
                            <a href='commercial-real-estate-loans.html'>Commercial Real Estate Loans</a>
                          </li>
                          <li class="" data-order="2">
                            <a href='business-credit-cards.html'>Business Credit Cards</a>
                          </li>
                          <li class="" data-order="4">
                            <a href='accounts/business-accounts/index.html'>Business Accounts</a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="twelve columns omega">
                <div class="productList">
                  <div class="product">
                    <h3>
                      <a title="Business Lines of Credit" href="business-lines-of-credit.html">Business Lines of Credit</a>
                    </h3>
                    <div class="content">
                      <p>Keep business humming with a flexible line of credit that finances ongoing needs like inventory, working
                        capital, and more.</p>
                    </div>
                    <div class="learnmore">
                      <a title="Business Lines of Credit" href="business-lines-of-credit.html">
                        Learn More
                      </a>
                    </div>
                  </div>
                  <div class="product">
                    <h3>
                      <a title="Commercial Real Estate Loans" href="commercial-real-estate-loans.html">Commercial Real Estate Loans</a>
                    </h3>
                    <div class="content">
                      <p>Every successful business needs a place to live. Finance your next office with ABNB&rsquo;s competitively
                        low rates.</p>
                    </div>
                    <div class="learnmore">
                      <a title="Commercial Real Estate Loans" href="commercial-real-estate-loans.html">
                        Learn More
                      </a>
                    </div>
                  </div>
                  <div class="product">
                    <h3>
                      <a title="Business Credit Cards" href="business-credit-cards.html">Business Credit Cards</a>
                    </h3>
                    <div class="content">
                      <p>Give your business the purchasing power it needs to handle transactions online and in stores all over
                        the world.</p>
                    </div>
                    <div class="learnmore">
                      <a title="Business Credit Cards" href="business-credit-cards.html">
                        Learn More
                      </a>
                    </div>
                  </div>
                  <div class="product">
                    <h3>
                      <a title="Business Accounts" href="accounts/business-accounts/index.html">Business Accounts</a>
                    </h3>
                    <div class="content">
                      <p>See what ABNB has to offer your business. Take advantage of competitive rates, specialty accounts,
                        and much more!</p>
                    </div>
                    <div class="learnmore">
                      <a title="Business Accounts" href="accounts/business-accounts/index.html">
                        Learn More
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="superContainer forFooter">
        <div class="container">
          <div class="prefooter">
            <div class="pf-feature">
              <div class="icon">
                <img src="images/icon-open.png" />
              </div>
              <div class="content">
                <h3>Open.</h3>
                <p>We’re open to our community.</p>
                <a href="about-us/about-us.html">Learn More About ABNB
                  <i class="fa fa-chevron-right"></i>
                </a>
              </div>
            </div>
            <div class="pf-feature">
              <div class="icon">
                <img src="images/icon-honest.png" />
              </div>
              <div class="content">
                <h3>Honest.</h3>
                <p>Put money back in your wallet.</p>
                <a href="advice-planning/honest-to-goodness-savings.html">Honest to goodness savings
                  <i class="fa fa-chevron-right"></i>
                </a>
              </div>
            </div>
            <div class="pf-feature">
              <div class="icon">
                <img src="images/icon-hardworking.png" />
              </div>
              <div class="content">
                <h3>Hardworking.</h3>
                <p>Get a loan that actually works for you.</p>
                <a href="personal-loans/index.html">Browse our loans
                  <i class="fa fa-chevron-right"></i>
                </a>
              </div>
            </div>
          </div>
          <div id="footer">
            <div class="row">
              <ul class="nthTier-1 quickLinksNav">
                <li class="nthChild-1">
                  <a class="nthChild-1 " href="home/tell-us-what-you-think.html" title="Tell Us What You Think" target="_self">
                    <i class="fa fa-bullhorn"></i>Tell Us What You Think
                  </a>
                </li>
                <li class="nthChild-2">
                  <a class="nthChild-2 confirm" href="http://www.youtube.com/abnbfcu" title="Video Center" target="_blank">
                    <i class="fa fa-binoculars"></i>Video Center
                  </a>
                </li>
              </ul>
            </div>
            <div class="three columns">
              <div class="social">
                <a href="https://www.facebook.com/abnbfcu" class="confirm fb" target="_blank">
                  <i class="fa fa-facebook-official"></i>
                </a>
                <a href="https://twitter.com/abnbfcu" class="confirm twitter" target="_blank">
                  <i class="fa fa-twitter"></i>
                </a>
                <a href="https://www.youtube.com/user/ABNBfcu" class="warn youtube" target="_blank">
                  <i class="fa fa-youtube"></i>
                </a>
                <a href="https://www.instagram.com/abnbfcu/" class="confirm instagram" target="_blank">
                  <i class="fa fa-instagram"></i>
                </a>
              </div>
            </div>
            <div class="seven columns">
              <ul class="nthTier-1 footerNav">
                <li class="nthChild-1">
                  <a class="nthChild-1 " href="documents/PrivacyPolicy.pdf" title="Privacy Policy" target="_blank">Privacy Policy</a>
                </li>
                <li class="nthChild-2">
                  <a class="nthChild-2 " href="home/disclosures.html" title="Disclosures" target="_self">Disclosures</a>
                </li>
                <li class="nthChild-3">
                  <a class="nthChild-3 " href="home/routing-number.html" title="Routing Number" target="_self">Routing Number</a>
                </li>
                <li class="nthChild-4">
                  <a class="nthChild-4 " href="services-tools/tools/faqs.html" title="FAQs" target="_self">FAQs</a>
                </li>
                <li class="nthChild-5">
                  <a class="nthChild-5 " href="about-us/board-of-directors/index.html" title="Become A Volunteer" target="_self">Become A Volunteer</a>
                </li>
                <li class="nthChild-6">
                  <a class="nthChild-6 " href="home/web-accessibility-and-usability.html" title="Web Accessibility" target="_self">Web Accessibility</a>
                </li>
              </ul>
            </div>
            <div class="six columns">
              <div class="compliance">
                <a href="home/ncua-federal-insurance.html" id="ncua"></a>
                <div id="eh"></div>
                <div id="bv-logo"></div>
              </div>
            </div>
            <div class="row">
              <div class="copyright">
                ABNB Federal Credit Union Copyright &copy; 2017. Portions copyright &copy; Kasasa Ltd. All rights reserved.
              </div>
              <div class="ada-copy">
                ABNB Federal Credit Union is committed to providing a website that is accessible to the widest possible audience in accordance
                with ADA standards and guidelines. We are actively working to increase accessibility and usability of our
                website to everyone. If you are using a screen reader or other auxiliary aid and are having problems using
                this website, please contact us at (757) 523-5300 or (800) 443-1141. All products and services available
                on this website are available at all ABNB Federal Credit Union branches.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<!-- Body Bottom -->
<!-- Audio Eye -->
<script type="text/javascript">
  !function () { var t = function () { var t = document.createElement("script"); t.src = "https://ws.audioeye.com/ae.js", t.type = "text/javascript", t.setAttribute("async", ""), document.getElementsByTagName("body")[0].appendChild(t) }; "complete" !== document.readyState ? window.addEventListener ? window.addEventListener("load", t) : window.attachEvent && window.attachEvent("onload", t) : t() }()
</script>
<!-- End Audio Eye -->
<!-- End Body Bottom -->