/*
* Skeleton-SASS V1.0
* Copyright 2012 by Michael Lazer-Walker
* https://github.com/lazerwalker/Skeleton-Sass
*
* Based off of Skeleton v1.1:
* https://github.com/dhgamache/Skeleton
*
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
*/
/* #Variable Definitions
================================================== */
/* Grid
================================================== */
/* #Clearing
================================================== */
/* Include clearfix on parent to clear nested columns,
or wrap each row of columns in a @include row */
/* You can also use a @include clear to clear columns */
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Londrina+Solid%7CMontserrat:400,700%7CPT+Sans:400,700");
html {
  font-size: 62.5%;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

#_d, .share-popup, #siteAlert {
  box-sizing: content-box !important; }

body {
  color: #333;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 150%;
  -moz-osx-font-smoothing: grayscale; }
  body.menuActive {
    overflow: hidden; }

.container {
  position: relative; }

.contentBody .main ul {
  list-style: inherit; }
.contentBody .main ul, .contentBody .main ol {
  margin: 10px 0 20px 16px; }
  .contentBody .main ul li, .contentBody .main ol li {
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    color: #333; }
    @media only screen and (max-width: 767px) {
      .contentBody .main ul li, .contentBody .main ol li {
        font-size: 15px;
        font-size: 1.5rem; } }
  .contentBody .main ul ul, .contentBody .main ul ol, .contentBody .main ol ul, .contentBody .main ol ol {
    font-size: 100%;
    list-style-type: inherit;
    margin-left: 30px;
    margin-bottom: 10px; }
.contentBody .main h1, .contentBody .main h2, .contentBody .main h3, .contentBody .main h4 {
  margin-bottom: 12px; }
.contentBody .main h5, .contentBody .main h6 {
  margin-bottom: 5px; }
.contentBody .main p.disclaimer, .contentBody .main span.disclaimer, .contentBody .main .disclaimer p, .contentBody .main .disclaimers p, .contentBody .main .disclaimers ul li, .contentBody .main .disclaimer ul li, .contentBody .main h6, .contentBody .main .disclaimer ol li {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-size: 1.3rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5; }
.contentBody .main p img {
  max-width: 100%;
  height: auto; }

p:empty, ul:empty {
  display: none; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: normal;
  font-size: 100%; }

h1 {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 36px;
  font-size: 3.6rem;
  font-weight: 400;
  font-style: normal; }
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    h1 {
      font-size: 30px;
      font-size: 3rem; } }
  @media only screen and (max-width: 767px) {
    h1 {
      font-size: 28px;
      font-size: 2.8rem; } }

h2 {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 28px;
  font-size: 2.8rem;
  font-weight: 400;
  font-style: normal;
  color: #18aae1;
  line-height: 1.2; }
  @media only screen and (max-width: 767px) {
    h2 {
      font-size: 20px;
      font-size: 2rem; } }

h3 {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-size: 2.4rem;
  font-weight: bold;
  font-style: normal;
  color: #0e4ca1;
  line-height: 1.2; }
  @media only screen and (max-width: 767px) {
    h3 {
      font-size: 18px;
      font-size: 1.8rem; } }

h4 {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: bold;
  font-style: normal; }

h5 {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-size: 1.3rem;
  font-weight: bold;
  font-style: normal; }

p {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  padding: 0 0 20px;
  margin: 0;
  line-height: 1.5; }
  p.zeroPaddingParagraph {
    padding: 0; }
  @media only screen and (max-width: 767px) {
    p {
      font-size: 15px;
      font-size: 1.5rem; } }

p.disclaimer, span.disclaimer, .disclaimer p, .disclaimers p, .disclaimers ul li, .disclaimer ul li, h6, .disclaimer ol li {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-size: 1.3rem;
  font-weight: 400;
  font-style: normal; }

.noMargin {
  margin: 0; }

sup {
  font-size: 11px;
  vertical-align: super; }

sub {
  font-size: 11px;
  vertical-align: sub; }

blockquote {
  clear: both;
  display: block;
  margin: 15px; }

code,
samp {
  font-family: monospace; }

pre {
  display: block;
  font-family: monospace;
  white-space: pre;
  margin: 1em 0; }

a {
  color: #0e4ca1; }
  a:hover {
    color: #18aae1; }

.table {
  width: 100%; }

.main table {
  width: 100%;
  border-collapse: collapse;
  border-top: 1px solid #d8d8d8;
  border-left: 1px solid #d8d8d8; }
  .main table th, .main table td {
    border-right: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    text-align: center;
    vertical-align: middle;
    padding: .6em; }
  .main table thead td, .main table th {
    background: #eaebe8;
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: bold;
    font-style: normal; }
  .main table td {
    background: #eaebe8; }
  .main table.nostyles {
    border: none; }
    .main table.nostyles th, .main table.nostyles td {
      text-align: left;
      padding: 0;
      border: none;
      width: 50%;
      vertical-align: top; }
      body.apple-pay .main table.nostyles th, body.apple-pay .main table.nostyles td {
        width: auto; }
    .main table.nostyles thead td, .main table.nostyles th, .main table.nostyles td {
      background: none; }
      .main table.nostyles thead td p, .main table.nostyles th p, .main table.nostyles td p {
        padding-bottom: 5px; }

@media only screen and (max-width: 767px) {
  .table.scroll {
    overflow-x: scroll;
    margin-bottom: 20px; }
    .table.scroll table {
      width: 640px; } }

.table table.split {
  display: none; }

@media only screen and (max-width: 767px) {
  .table.split {
    overflow-x: auto; }
    .table.split table {
      display: none; }
    .table.split table.split {
      display: table; } }

.textAlignCenter {
  text-align: center; }

.red {
  color: red; }

iframe[src="about:blank"] {
  display: none; }

.recaptcha_theme_clean {
  background-color: #FFF; }
