@charset "UTF-8";
/*
* Skeleton-SASS V1.0
* Copyright 2012 by Michael Lazer-Walker
* https://github.com/lazerwalker/Skeleton-Sass
*
* Based off of Skeleton v1.1:
* https://github.com/dhgamache/Skeleton
*
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
*/
/* #Variable Definitions
================================================== */
/* Grid
================================================== */
/* #Clearing
================================================== */
/* Include clearfix on parent to clear nested columns,
or wrap each row of columns in a @include row */
/* You can also use a @include clear to clear columns */
body.inmo form li.submit, body:not(.inmo) #application li.submit, #contactForm li.submit {
  margin-top: 15px; }
body.inmo form input[type="submit"], body:not(.inmo) #application input[type="submit"], #contactForm input[type="submit"] {
  -webkit-appearance: none;
  margin: 0;
  padding: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent;
  border: none;
  outline: none;
  text-shadow: none;
  display: inline-block;
  padding: 0.4em 2em 0.3em;
  background: #fdb827;
  color: #333;
  text-align: center;
  text-decoration: none;
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  /* "Next" button on multi-page forms */ }
  body.inmo form input[type="submit"]:hover, body:not(.inmo) #application input[type="submit"]:hover, #contactForm input[type="submit"]:hover {
    background: #efa302;
    color: #333; }

/* --------------------------------------------------------- */
/* Online/Offline Applications, single & multipage, not INMO */
/* --------------------------------------------------------- */
.inform_errorpage {
  margin-top: 50px; }
  .inform_errorpage a {
    text-decoration: underline; }

body:not(.inmo) #application {
  position: relative;
  float: left;
  width: 100%; }
  body:not(.inmo) #application .inform-product-title {
    display: none; }
@media only screen and (max-width: 767px) {
  body:not(.inmo).application .pageTitle {
    position: absolute;
    top: -55px;
    left: 0; }
  body:not(.inmo) #application {
    padding-top: 10px; } }

/* Steps for multipage forms. By default, javascript used to strip the steps from the DOM and appends to the #sidebar element. */
.inform-form-steps {
  margin: 10px 0;
  padding: 30px 0;
  border-top: 1px solid #CEB38F; }
  .inform-form-steps h3 {
    font-weight: normal;
    font-family: Arial;
    font-size: 18px;
    font-size: 1.8rem;
    margin: 0;
    padding: 0;
    width: 160px; }
  .inform-form-steps ul, .inform-form-steps ol {
    padding: 0;
    margin: 0;
    margin-left: 20px;
    margin-top: 10px; }
  .inform-form-steps li {
    list-style-type: decimal;
    color: #000;
    margin: 0;
    padding: 0 0 3px; }
    .inform-form-steps li.active {
      color: #333; }
    .inform-form-steps li.inactive {
      color: #333; }
    .inform-form-steps li.isPassed {
      color: #999; }

.app-intro {
  margin-top: 20px;
  font-size: 13px;
  font-size: 1.3rem; }
  @media only screen and (max-width: 767px) {
    .app-intro {
      margin-top: 95px; } }

/* --------------------------------- */
/* Contact Form, single page & popup */
/* --------------------------------- */
#contactForm form > fieldset > ul {
  margin-left: 0 !important; }
#contactForm form li .help {
  display: none !important; }
#contactForm.questions.questions form {
  margin-bottom: 0; }
  #contactForm.questions.questions form > fieldset {
    background: #fff;
    border: none;
    margin-top: 5%;
    margin-bottom: 0; }
    #contactForm.questions.questions form > fieldset > ul {
      padding-left: 0; }
  #contactForm.questions.questions form .recaptcha_input_area {
    height: 34px !important; }

body.inmo #header {
  min-height: 145px; }
  body.inmo #header .logo {
    width: 202px;
    margin: 20px 0 0 10px; }
    @media only screen and (max-width: 767px) {
      body.inmo #header .logo {
        margin: 0;
        padding-left: 0;
        padding-right: 0; } }
body.inmo #mainContent {
  /* INMO page h1, will inherit main styles unless otherwise specified. */ }
  body.inmo #mainContent .inform-product-title {
    display: block;
    padding: 0; }
  body.inmo #mainContent #intro h1, body.inmo #mainContent fieldset h1 {
    padding: 0 !important; }
body.inmo #leftColumn .inform-form-steps {
  border-top: 0;
  padding-top: 0;
  margin-top: 0; }
body.inmo form .radio li:after,
body.inmo form .radioWide li:after,
body.inmo form .radioNarrow li:after {
  content: "";
  display: block;
  height: 0;
  clear: both; }

/* Default form styles, these styles will only 
be applied when sass @extend is used */
/* --------- USAGE ------------ */
/* #selector { @extend %form; } */
/* ---------------------------- */
body:not(.inmo) #application form > fieldset.error, #contactForm form > fieldset.error {
  display: block !important; }
body:not(.inmo) #application form > fieldset, #contactForm form > fieldset {
  background: none;
  border: none;
  margin-top: 1.5%; }
  body:not(.inmo) #application form > fieldset:first-of-type, #contactForm form > fieldset:first-of-type {
    padding-top: 0; }
  body:not(.inmo) #application form > fieldset.captchaFieldset.submitFieldset label, #contactForm form > fieldset.captchaFieldset.submitFieldset label {
    height: 0px;
    padding: 0; }
  body:not(.inmo) #application form > fieldset.captchaFieldset.submitFieldset > ul, #contactForm form > fieldset.captchaFieldset.submitFieldset > ul {
    background: none transparent;
    border: none 0px;
    padding: 0 0 0 2.5%; }
  body:not(.inmo) #application form > fieldset > ul, #contactForm form > fieldset > ul {
    float: left;
    width: 95%;
    padding: 0 2.5%;
    margin: 0; }
    body:not(.inmo) #application form > fieldset > ul > li, #contactForm form > fieldset > ul > li {
      width: 100%;
      margin: 0;
      padding: 0;
      padding-bottom: 15px;
      font-size: 100%; }
      body:not(.inmo) #application form > fieldset > ul > li:after, #contactForm form > fieldset > ul > li:after {
        content: "";
        display: block;
        height: 0;
        clear: both; }
body:not(.inmo) #application h2, #contactForm h2 {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 28px;
  font-size: 2.8rem;
  color: #18aae1;
  font-weight: 400;
  line-height: 1;
  padding: 3% 2.5% 20px;
  margin: 0; }
body:not(.inmo) #application label, #contactForm label,
body:not(.inmo) #application h3,
#contactForm h3 {
  font-size: 13px;
  font-size: 1.3rem;
  font-family: Arial;
  font-weight: normal;
  color: #333;
  display: block;
  clear: left;
  padding: 0 0 8px;
  margin: 0;
  line-height: 1;
  text-transform: none;
  font-style: normal; }
  body:not(.inmo) #application label.optional:after, #contactForm label.optional:after,
  body:not(.inmo) #application h3.optional:after,
  #contactForm h3.optional:after {
    content: "(Optional)";
    color: #999;
    font-style: italic;
    padding-left: 4px; }
body:not(.inmo) #application p, #contactForm p {
  margin: 0;
  padding: 0 0 20px;
  clear: left; }
body:not(.inmo) #application input[type="text"], #contactForm input[type="text"], body:not(.inmo) #application input[type="tel"], #contactForm input[type="tel"],
body:not(.inmo) #application select,
#contactForm select,
body:not(.inmo) #application textarea,
#contactForm textarea,
body:not(.inmo) #application #recaptcha_response_field,
#contactForm #recaptcha_response_field {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  max-width: 314px;
  margin-bottom: 0;
  font-size: 16px; }
  @media only screen and (max-width: 767px) {
    body:not(.inmo) #application input[type="text"], #contactForm input[type="text"], body:not(.inmo) #application input[type="tel"], #contactForm input[type="tel"],
    body:not(.inmo) #application select,
    #contactForm select,
    body:not(.inmo) #application textarea,
    #contactForm textarea,
    body:not(.inmo) #application #recaptcha_response_field,
    #contactForm #recaptcha_response_field {
      max-width: 95%; } }
body:not(.inmo) #application fieldset.date, #contactForm fieldset.date,
body:not(.inmo) #application fieldset.ssn,
#contactForm fieldset.ssn,
body:not(.inmo) #application fieldset.phone,
#contactForm fieldset.phone {
  width: 100%;
  max-width: 314px;
  white-space: nowrap; }
  @media only screen and (max-width: 767px) {
    body:not(.inmo) #application fieldset.date, #contactForm fieldset.date,
    body:not(.inmo) #application fieldset.ssn,
    #contactForm fieldset.ssn,
    body:not(.inmo) #application fieldset.phone,
    #contactForm fieldset.phone {
      max-width: 95%; } }
  body:not(.inmo) #application fieldset.date select, #contactForm fieldset.date select,
  body:not(.inmo) #application fieldset.date input,
  #contactForm fieldset.date input,
  body:not(.inmo) #application fieldset.ssn select,
  #contactForm fieldset.ssn select,
  body:not(.inmo) #application fieldset.ssn input,
  #contactForm fieldset.ssn input,
  body:not(.inmo) #application fieldset.phone select,
  #contactForm fieldset.phone select,
  body:not(.inmo) #application fieldset.phone input,
  #contactForm fieldset.phone input {
    display: inline-block;
    width: 30%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  body:not(.inmo) #application fieldset.date .help, #contactForm fieldset.date .help,
  body:not(.inmo) #application fieldset.ssn .help,
  #contactForm fieldset.ssn .help,
  body:not(.inmo) #application fieldset.phone .help,
  #contactForm fieldset.phone .help {
    font-size: 13px; }
body:not(.inmo) #application .radio li, #contactForm .radio li,
body:not(.inmo) #application .radioNarrow li,
#contactForm .radioNarrow li,
body:not(.inmo) #application .radioWide li,
#contactForm .radioWide li {
  list-style-type: none;
  margin: 0;
  padding: 3px 0; }
  body:not(.inmo) #application .radio li:after, #contactForm .radio li:after,
  body:not(.inmo) #application .radioNarrow li:after,
  #contactForm .radioNarrow li:after,
  body:not(.inmo) #application .radioWide li:after,
  #contactForm .radioWide li:after {
    content: "";
    display: block;
    height: 0;
    clear: both; }
body:not(.inmo) #application .radio label, #contactForm .radio label,
body:not(.inmo) #application .radio h3,
#contactForm .radio h3,
body:not(.inmo) #application .radioNarrow label,
#contactForm .radioNarrow label,
body:not(.inmo) #application .radioNarrow h3,
#contactForm .radioNarrow h3,
body:not(.inmo) #application .radioWide label,
#contactForm .radioWide label,
body:not(.inmo) #application .radioWide h3,
#contactForm .radioWide h3 {
  clear: none;
  display: inline; }
body:not(.inmo) #application .mixed, #contactForm .mixed {
  display: inline-block; }
  body:not(.inmo) #application .mixed > *, #contactForm .mixed > *,
  body:not(.inmo) #application .mixed > div > *,
  #contactForm .mixed > div > * {
    display: inline-block !important; }
  body:not(.inmo) #application .mixed input[type="text"], #contactForm .mixed input[type="text"],
  body:not(.inmo) #application .mixed select,
  #contactForm .mixed select {
    width: 50px; }
  body:not(.inmo) #application .mixed label, #contactForm .mixed label {
    padding: 0 5px; }
body:not(.inmo) #application #intro h2 + ul, #contactForm #intro h2 + ul {
  margin: -10px 0 20px 30px; }
  body:not(.inmo) #application #intro h2 + ul li, #contactForm #intro h2 + ul li {
    list-style-type: disc; }
body:not(.inmo) #application li, #contactForm li {
  list-style-type: none; }
  body:not(.inmo) #application li li, #contactForm li li {
    list-style-type: disc; }
body:not(.inmo) #application ul.disclosures, #contactForm ul.disclosures {
  margin-left: 20px; }
  body:not(.inmo) #application ul.disclosures li, #contactForm ul.disclosures li {
    list-style-type: disc; }
  body:not(.inmo) #application ul.disclosures + li, #contactForm ul.disclosures + li {
    margin-top: 20px; }
body:not(.inmo) #application .esign_section h2, #contactForm .esign_section h2 {
  padding-left: 0; }
body:not(.inmo) #application .captcha input, #contactForm .captcha input {
  display: inline; }
@media only screen and (max-width: 479px) {
  body:not(.inmo) #application .captcha #recaptcha_response_field_group, #contactForm .captcha #recaptcha_response_field_group {
    margin-left: -17px; } }
body:not(.inmo) #application .help, #contactForm .help {
  font-size: 11px;
  display: inline-block;
  vertical-align: top; }
  body:not(.inmo) #application .help .error, #contactForm .help .error {
    color: red; }
  body:not(.inmo) #application .help .success, #contactForm .help .success {
    display: none;
    font-size: 13px;
    color: green;
    /* check icon */ }
    body:not(.inmo) #application .help .success:before, #contactForm .help .success:before {
      content: "ÔÅò";
      font-family: FontAwesome;
      font-weight: normal;
      font-style: normal;
      text-decoration: inherit;
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      vertical-align: text-bottom;
      color: green;
      margin-right: 2px; }
  body:not(.inmo) #application .help span, #contactForm .help span {
    display: none; }
body:not(.inmo) #application li.error label, #contactForm li.error label, body:not(.inmo) #application li.error h3, #contactForm li.error h3, body:not(.inmo) #application div.error label, #contactForm div.error label, body:not(.inmo) #application div.error h3, #contactForm div.error h3 {
  color: red !important; }
body:not(.inmo) #application li.error input, #contactForm li.error input, body:not(.inmo) #application li.error textarea, #contactForm li.error textarea, body:not(.inmo) #application div.error input, #contactForm div.error input, body:not(.inmo) #application div.error textarea, #contactForm div.error textarea {
  border: 1px solid red !important;
  background: rgba(255, 0, 0, 0.15) !important; }
body:not(.inmo) #application li.error span.error, #contactForm li.error span.error, body:not(.inmo) #application div.error span.error, #contactForm div.error span.error {
  display: block; }
body:not(.inmo) #application fieldset fieldset, #contactForm fieldset fieldset {
  margin: 0; }
body:not(.inmo) #application li.success .success, #contactForm li.success .success {
  display: block; }
