/*
* Skeleton-SASS V1.0
* Copyright 2012 by Michael Lazer-Walker
* https://github.com/lazerwalker/Skeleton-Sass
*
* Based off of Skeleton v1.1:
* https://github.com/dhgamache/Skeleton
*
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
*/
/* #Variable Definitions
================================================== */
/* Grid
================================================== */
/* #Clearing
================================================== */
/* Include clearfix on parent to clear nested columns,
or wrap each row of columns in a @include row */
/* You can also use a @include clear to clear columns */
/* Locations Page */
#map {
  width: 100%;
  min-height: 275px; }
  @media only screen and (max-width: 767px) {
    #map {
      width: 0;
      height: 0;
      display: none;
      overflow: hidden; } }

#locationsPage form.findBranch {
  padding: 0; }
  #locationsPage form.findBranch label {
    display: inline-block;
    padding: 0 1em 0 0;
    font-weight: normal;
    font-size: 100%; }
  #locationsPage form.findBranch input[type=text], #locationsPage form.findBranch input[type="submit"] {
    display: inline-block; }
  #locationsPage form.findBranch input[type="submit"] {
    -webkit-appearance: none;
    margin: 0;
    padding: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: transparent;
    border: none;
    outline: none;
    text-shadow: none;
    display: inline-block;
    padding: 0.4em 2em 0.3em;
    background: #fdb827;
    color: #333;
    text-align: center;
    text-decoration: none;
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase; }
    #locationsPage form.findBranch input[type="submit"]:hover {
      background: #efa302;
      color: #333; }

#locList {
  margin: 2em 0 0; }
  #locList > li {
    padding: 0;
    margin: 0.7em 0;
    overflow: hidden;
    min-height: 0; }
    #locList > li .branchName {
      position: relative; }
      #locList > li .branchName.active h2, #locList > li .branchName.active .distance {
        color: #fff; }
      #locList > li .branchName:hover h2 {
        text-decoration: underline; }
      #locList > li .branchName h2 {
        display: inline-block;
        vertical-align: middle;
        width: 82%;
        margin: 0;
        color: #222; }
        @media only screen and (max-width: 959px) {
          #locList > li .branchName h2 {
            width: 75%; } }
      #locList > li .branchName .seeMap {
        float: right;
        font-size: 13px;
        font-size: 1.3rem;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
        color: #18aae1;
        margin-top: 10px;
        margin-right: 10px; }
        #locList > li .branchName .seeMap i {
          font-size: 12px; }
        #locList > li .branchName .seeMap:hover {
          color: #18aae1;
          text-decoration: underline; }
          #locList > li .branchName .seeMap:hover i {
            text-decoration: none; }
      #locList > li .branchName .distance {
        color: #222;
        font-size: 13px;
        font-size: 1.3rem;
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 2px; }
        #locList > li .branchName .distance:empty {
          display: none; }
    #locList > li .branchInfo {
      display: none; }
      #locList > li .branchInfo:after {
        content: "";
        display: block;
        height: 0;
        clear: both; }
      #locList > li .branchInfo > div {
        display: inline-block;
        width: 32%;
        vertical-align: top; }
        #locList > li .branchInfo > div.hours {
          width: 66%; }
          #locList > li .branchInfo > div.hours > div {
            width: 48%;
            display: inline-block;
            vertical-align: top; }
        @media only screen and (max-width: 767px) {
          #locList > li .branchInfo > div {
            clear: both;
            display: block;
            float: none;
            width: 100%; }
            #locList > li .branchInfo > div.hours, #locList > li .branchInfo > div.hours > div {
              width: 100%;
              margin-top: 15px; } }
      #locList > li .branchInfo .description {
        font-style: italic;
        font-size: 13px;
        font-size: 1.3rem; }
      #locList > li .branchInfo .address {
        margin-bottom: 1em;
        margin-top: .5em;
        padding-right: 10px; }
      #locList > li .branchInfo .seedetails, #locList > li .branchInfo .getDirections {
        font-size: 13px;
        font-size: 1.3rem;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
        color: #18aae1; }
        #locList > li .branchInfo .seedetails i, #locList > li .branchInfo .getDirections i {
          font-size: 12px; }
        #locList > li .branchInfo .seedetails:hover, #locList > li .branchInfo .getDirections:hover {
          color: #18aae1;
          text-decoration: underline; }
          #locList > li .branchInfo .seedetails:hover i, #locList > li .branchInfo .getDirections:hover i {
            text-decoration: none; }
      #locList > li .branchInfo h4 {
        font-family: "PT Sans", Arial, Helvetica, sans-serif;
        font-size: 28px;
        font-size: 2.8rem;
        font-weight: 400;
        font-style: normal;
        color: #18aae1;
        margin-bottom: 5px; }
        @media only screen and (max-width: 959px) {
          #locList > li .branchInfo h4 {
            font-size: 20px;
            font-size: 2rem; } }
      #locList > li .branchInfo .label {
        display: inline-block;
        padding-right: 5px; }
      #locList > li .branchInfo .value {
        display: inline-block; }
      #locList > li .branchInfo .getDirections.address {
        text-decoration: none; }
    #locList > li[data-type='ATM'] .hours {
      display: none; }
  @media only screen and (max-width: 767px) {
    #locList .seeMap {
      display: none; } }

.mapInfoWindow {
  line-height: 1.2;
  white-space: nowrap; }
