/*
* Skeleton-SASS V1.0
* Copyright 2012 by Michael Lazer-Walker
* https://github.com/lazerwalker/Skeleton-Sass
*
* Based off of Skeleton v1.1:
* https://github.com/dhgamache/Skeleton
*
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
*/
/* #Variable Definitions
================================================== */
/* Grid
================================================== */
/* #Clearing
================================================== */
/* Include clearfix on parent to clear nested columns,
or wrap each row of columns in a @include row */
/* You can also use a @include clear to clear columns */
.contentBody.framed {
  margin-top: 0 !important;
  padding-top: 30px; }

body.popup {
  height: auto;
  background: transparent;
  font-family: Arial, Helvetica, serif;
  font-size: 13px;
  margin: 0;
  padding: 0; }
  body.popup .outer, body.popup .superContainer.forContent {
    background: white; }
    body.popup .outer:before, body.popup .outer:after, body.popup .superContainer.forContent:before, body.popup .superContainer.forContent:after {
      display: none; }
    body.popup .outer .inner, body.popup .superContainer.forContent .inner {
      padding: 0; }
      body.popup .outer .inner .categoryHeader, body.popup .outer .inner .secondaryButtons, body.popup .superContainer.forContent .inner .categoryHeader, body.popup .superContainer.forContent .inner .secondaryButtons {
        display: none; }
      body.popup .outer .inner h1, body.popup .superContainer.forContent .inner h1 {
        padding: 5% 5% 5% 10%; }
      body.popup .outer .inner .questions, body.popup .superContainer.forContent .inner .questions {
        padding: 2.5% 2.5% 0 10%; }
      body.popup .outer .inner .pageTitle, body.popup .superContainer.forContent .inner .pageTitle {
        margin-top: 0; }
        body.popup .outer .inner .pageTitle + div, body.popup .superContainer.forContent .inner .pageTitle + div {
          padding-top: 0; }
      body.popup .outer .inner .content p, body.popup .superContainer.forContent .inner .content p {
        padding: 0 10% 5%; }
  body.popup #kPassItOnPopup {
    padding: 26% 0 0;
    width: 100%;
    background: #fff url("../image/popup/kasasa-pass-it-on/k-pio-background-top-with-title.png") no-repeat 0 0/contain; }
    body.popup #kPassItOnPopup .copyContainer {
      padding: 0 10% 0 9%; }
      body.popup #kPassItOnPopup .copyContainer.copyContainerBottom {
        padding-top: 37px; }
      body.popup #kPassItOnPopup .copyContainer p {
        color: #404051;
        font-size: 1em;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        line-height: 153%; }
        body.popup #kPassItOnPopup .copyContainer p.introCopy {
          color: #fff; }
        body.popup #kPassItOnPopup .copyContainer p.popupDisclaimer {
          font-size: .85em;
          margin-top: 0 !important; }
        body.popup #kPassItOnPopup .copyContainer p.zeroPaddingParagraph {
          padding: 0; }
      body.popup #kPassItOnPopup .copyContainer .buttonRow {
        overflow: hidden; }
        body.popup #kPassItOnPopup .copyContainer .buttonRow.buttonRowMainProducts {
          margin: 24% 0 7%; }
        body.popup #kPassItOnPopup .copyContainer .buttonRow.buttonRowAddOns {
          margin: 0 0 7.5% .75%; }
        body.popup #kPassItOnPopup .copyContainer .buttonRow .buttonSection {
          margin-bottom: 4%;
          width: 161px;
          float: left;
          overflow: hidden; }
          body.popup #kPassItOnPopup .copyContainer .buttonRow .buttonSection a {
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-indent: 200%;
            width: 100%;
            height: 34px; }
          body.popup #kPassItOnPopup .copyContainer .buttonRow .buttonSection.buttonCash {
            margin-right: 9%; }
            body.popup #kPassItOnPopup .copyContainer .buttonRow .buttonSection.buttonCash a {
              background: url("../image/popup/kasasa-pass-it-on/k-pio-button-kasasa-cash.png") no-repeat 0 0; }
            body.popup #kPassItOnPopup .copyContainer .buttonRow .buttonSection.buttonCash p {
              padding: 0; }
          body.popup #kPassItOnPopup .copyContainer .buttonRow .buttonSection.buttonTunes a {
            background: url("../image/popup/kasasa-pass-it-on/k-pio-button-kasasa-tunes.png") no-repeat 0 0; }
          body.popup #kPassItOnPopup .copyContainer .buttonRow .buttonSection.buttonSaver a {
            background: url("../image/popup/kasasa-pass-it-on/k-pio-button-kasasa-saver.png") no-repeat 0 0; }
          body.popup #kPassItOnPopup .copyContainer .buttonRow .buttonSection p {
            margin: 4% 0 0;
            text-align: center; }
      body.popup #kPassItOnPopup .copyContainer #addOnsTitle {
        margin: 0 0 28px 7px; }
        body.popup #kPassItOnPopup .copyContainer #addOnsTitle img {
          width: 100%; }
    body.popup #kPassItOnPopup img {
      width: 93%; }
    body.popup #kPassItOnPopup #k-pio-footer {
      padding: 0 0 22px;
      text-align: center; }
      body.popup #kPassItOnPopup #k-pio-footer img {
        width: 15%; }
    @media only screen and (max-width: 436px) {
      body.popup #kPassItOnPopup .copyContainer .buttonRow.buttonRowMainProducts {
        margin-top: 22%;
        margin-bottom: 0; }
      body.popup #kPassItOnPopup .copyContainer .buttonRow .buttonSection,
      body.popup #kPassItOnPopup .copyContainer .buttonRow .buttonSection.buttonCash {
        margin-left: 26%;
        clear: left; }
        body.popup #kPassItOnPopup .copyContainer .buttonRow .buttonSection p,
        body.popup #kPassItOnPopup .copyContainer .buttonRow .buttonSection.buttonCash p {
          font-size: 1em; }
          body.popup #kPassItOnPopup .copyContainer .buttonRow .buttonSection p.popupDisclaimer,
          body.popup #kPassItOnPopup .copyContainer .buttonRow .buttonSection.buttonCash p.popupDisclaimer {
            font-size: .85em; } }
    @media only screen and (max-width: 380px) {
      body.popup #kPassItOnPopup .copyContainer p {
        font-size: .9em; }
        body.popup #kPassItOnPopup .copyContainer p.popupDisclaimer {
          font-size: .75em; }
      body.popup #kPassItOnPopup .copyContainer .buttonRow .buttonSection,
      body.popup #kPassItOnPopup .copyContainer .buttonRow .buttonSection.buttonCash {
        margin-left: 23%; } }
    @media only screen and (max-width: 340px) {
      body.popup #kPassItOnPopup .copyContainer p {
        font-size: .85em; }
        body.popup #kPassItOnPopup .copyContainer p.popupDisclaimer {
          font-size: .7em; }
      body.popup #kPassItOnPopup .copyContainer .buttonRow .buttonSection,
      body.popup #kPassItOnPopup .copyContainer .buttonRow .buttonSection.buttonCash {
        margin-left: 20%; } }
    @media only screen and (max-width: 310px) {
      body.popup #kPassItOnPopup .copyContainer p {
        font-size: .8em; }
        body.popup #kPassItOnPopup .copyContainer p.popupDisclaimer {
          font-size: .65em; }
      body.popup #kPassItOnPopup .copyContainer .buttonRow .buttonSection,
      body.popup #kPassItOnPopup .copyContainer .buttonRow .buttonSection.buttonCash {
        margin-left: 17%; } }
    @media only screen and (max-width: 290px) {
      body.popup #kPassItOnPopup {
        padding: 25% 0 0; }
        body.popup #kPassItOnPopup .copyContainer p {
          font-size: .75em; }
          body.popup #kPassItOnPopup .copyContainer p.popupDisclaimer {
            font-size: .6em; }
        body.popup #kPassItOnPopup .copyContainer .buttonRow .buttonSection,
        body.popup #kPassItOnPopup .copyContainer .buttonRow .buttonSection.buttonCash {
          margin-left: 15%; } }

.fancybox-skin {
  background: transparent !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }

.fancybox-close {
  right: 5px;
  top: 5px;
  width: 18px;
  display: block;
  height: 18px;
  background-image: url("../image/close.png");
  background-position: top;
  background-repeat: no-repeat;
  /* retina version
  as seen on http://codepen.io/chriscoyier/pen/IadqD */ }
  .fancybox-close:hover {
    background-position: bottom; }
  @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
    .fancybox-close {
      background-image: url("../image/close-2x.png");
      background-size: 18px 36px; } }
