<!doctype HTML>
<script type="text/javascript">
    var siteSettings = {
        name: "ABNB Federal Credit Union",
        hostName: "abnbfcu.org",
        fiType: "credit-union",
        primaryPhoneNumber: "(800) 443-1141",
        logos: "[ncua, eh]".replace(/\[|\]/g, '').split(', ')
    }
</script>
<html>

<head>
    <!-- Head Top -->
    <!-- End Head Top -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8">
    <title>About ABNB | ABNB FCU | Virginia Beach, VA - Chesapeake, VA - Norfolk, VA - Moyock, NC</title>
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <meta name="description" content="	
">
    <meta name="keywords" content="	
">
    <script type="text/javascript">
        var FEDApp = FEDApp || {};
        FEDApp.previewMode = false;
    </script>
    <script type="text/javascript" src="https://thisisfirstbranch.com/custom/fed-library/production/js-library/firstbranch-logo.js"></script>
    <link rel="shortcut icon" href="/assets/image/favicon.ico" />
    <link type="image/x-icon" href="/assets/image/favicon.ico" rel="icon" />
    <link rel="stylesheet" href="/assets/css/fancy-box/jquery.fancybox.css" media="all">
    <link rel="stylesheet" href="/assets/css/all-styles.css" media="screen, handheld, projection">
    <link rel="stylesheet" media="print" href="/assets/css/print.css">
    <script type="text/javascript" src="/assets/javascript/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/assets/javascript/fancybox/jquery.fancybox.js"></script>
    <script type="text/javascript" src="/assets/javascript/jquery.alerts.js"></script>
    <script type="text/javascript" src="https://shared.firstbranchdemo.com/application/fed-library/production/js-library/speedbumps.js"></script>
    <script type="text/javascript" src="/assets/javascript/fed-core.js"></script>
    <script type="text/javascript" src="/assets/javascript/modernizr.js"></script>
    <script type="text/javascript" src="/assets/javascript/global.js"></script>
    <script type="text/javascript" src="/assets/javascript/smartappbanner.js"></script>
    <script type="text/javascript" src="/assets/javascript/mobile-banners.js"></script>
    <script type="text/javascript" src="/assets/javascript/jquery.cycle2.min.js"></script>
    <script>$f(document).ready(function () { $f('#bigWrapper').on('touchstart', function (event) { }); });</script>
    <script type="text/javascript" src="https://shared.firstbranchdemo.com/application/fed-library/production/browserwarnV2/warning.js"></script>
    <!-- Head Bottom -->
    <link href="about-us.html" rel="canonical" />
    <script type="text/javascript" src="https://cdn.bancvueonline.com/js/cm/eluminate-4.12.16.js"></script>
    <script type="text/javascript">cmSetClientID('90413968;90419233', false, 'data.coremetrics.com', 'abnbfcu.org');</script>
    <script type="text/javascript">cmSetupOther({ 'cm_TrackImpressions': '' });</script>
    <script type="text/javascript">cmCreatePageviewTag('1673:ABNB Federal Credit Union:/about-us/about-us.html', '');</script>
    <!-- End Head Bottom -->
</head>

<body id="detailPage" class="about-abnb">
    <!-- Body Top -->
    <!-- Google Tag Manager -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MS8LTN" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script>
                                   if (window === top) {
                                       (function (w, d, s, l, i) {
                                           w[l] = w[l] || [];
                                           w[l].push({
                                               'gtm.start': new Date().getTime(),
                                               event: 'gtm.js'
                                           });
                                           var f = d.getElementsByTagName(s)[0],
                                               j = d.createElement(s),
                                               dl = l != 'dataLayer' ? '&l=' + l : '';
                                           j.async = true;
                                           j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl;
                                           f.parentNode.insertBefore(j, f);
                                       })(window, document, 'script', 'dataLayer', 'GTM-MS8LTN');
                                   }
    </script>
    <!-- End Google Tag Manager -->
    <!-- End Body Top -->
    <div id="bigWrapper">
        <div id="sideContent"></div>
        <div id="windowContent">
            <div class="superContainer forHeader">
                <div class="container">
                    <div id="header">
                        <div class="four columns">
                            <div class="primaryNavLink mobileSmall">
                                <i class="fa fa-bars"></i>
                                Menu
                            </div>
                            <div class="oblToggler mobileSmall">
                                <i class="fa fa-lock"></i>Login
                            </div>
                            <div class="logo">
                                <a href="../index.html" title="ABNB Federal Credit Union">
                                    <img src="/assets/image/logo-2x.png" alt="ABNB Federal Credit Union" />
                                </a>
                                <div class="printOnly">(800) 443-1141</div>
                            </div>
                        </div>
                        <!-- /four col -->
                        <div class="twelve columns">
                            <div class="ultratop">
                                <ul class="nthTier-1 ultraTopNav">
                                    <li class="nthChild-1  locations">
                                        <a class="nthChild-1 locations" href="locations-hours/index.html" title="Visit One Of Our 18 Convenient Locations"
                                            target="_self">Visit One Of Our 18 Convenient Locations</a>
                                    </li>
                                    <li class="nthChild-2  ">
                                        <a class="nthChild-2 " href="../home/routing-number.html" title="Routing Number" target="_self">Routing Number</a>
                                    </li>
                                    <li class="nthChild-3  ">
                                        <a class="nthChild-3 " href="../home/rates.html" title="Rates & Fees" target="_self">Rates & Fees</a>
                                    </li>
                                    <li class="nthChild-4  ">
                                        <a class="nthChild-4 " href="contact-us.html" title="Contact Us" target="_self">Contact Us</a>
                                    </li>
                                </ul>
                                <a href="/login"><div class="toggledOn oblToggled">
                                        <h2 class="togglesNext">
                                            <!-- <i class="fa fa-lock"></i>  -->
                                            Online Banking Login</h2>
                                        <!-- <div class="obLogin">
                                            <style type="text/css">
                                                .obLogin iframe {
                                                    height: 100px;
                                                    display: block;
                                                }
                                            </style>
                                            <iframe frameborder="0" height="64" marginheight="0px" marginwidth="0px" scrolling="no" src="https://virtuoso.abnbfcu.org/ISuite5/Features/Auth/MFA/iFrameLoginMFABrandable.aspx"
                                                width="100%"></iframe>
                                        </div> -->
                                        <!-- <span class="enroll">Need to enroll in Online Banking?
                                            <a href="https://virtuoso.abnbfcu.org/ISuite5/Features/Auth/SelfEnrollment/SelfEnrollmentDisclosure.aspx?v4voo670ynvNKGUAoUgHng=lWgsTANjLfdqNi1U9cOOip"
                                                target="_blank">Click here</a>
                                        </span> -->
                                    </div></a>
                            </div>
                        </div>
                        <div class="primaryNavWrapper">
                                <!-- primary nav test 2/11b-->
                                <ul class="nthTier-1 primaryNav">
                                    <li class=" accounts">
                                        <a href="#" title="Accounts">Accounts</a>
                                        <ul class="nthTier-2">
                                            <li class="nthChild-1 ">
                                                <a href="/account" title="Personal Checking">Personal Checking</a>
                                            </li>
    <!--                                       
                                            <li class="nthChild-3 ">
                                                <a href="#" title="Personal Savings">Personal Savings</a>
                                            </li> -->
                                        </ul>
                                    </li>
                                    <li class=" loans">
                                        <a href="#" title="Loans">Loans</a>
                                        <ul class="nthTier-2">
                                          
                                            <li class="nthChild-2 ">
                                                <a href="/loans" title="Business Loans">Business Loans</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class=" services-tools">
                                        <a href="#" title="Services & Tools">Services & Tools</a>
                                        <ul class="nthTier-2">
                                            
                                            <!-- <li class="nthChild-2 ">
                                                <a href="#" title="Cash Management">Cash Management</a>
                                            </li> -->
                                            <li class="nthChild-3 ">
                                                <a href="/service" title="Tools">Tools</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class=" about-us">
                                        <a href="#" title="About Us">About Us</a>
                                        <ul class="nthTier-2">
                                            <li class="nthChild-1 ">
                                                <a href="/app/aboutus" title="About ABNB">About ABNB
                                                </a>
                                            </li>
                                            
                                            <!-- <li class="nthChild-3 ">
                                                <a href="about-us/board-of-directors/index.html" title="Board of Directors">Board of Directors</a>
                                            </li> -->
                                            <li class="nthChild-7 ">
                                                <a href="/app/contactus" title="Contact Us">Contact Us
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <div class="search noMobile">
                                    <div class="site-search">
                                        <form method="get" id="siteSearchForm" action="/home/search.html">
                                            <input type="text" id="dotQ" name="q" value="" placeholder="Search Our Site">
                                            <button type="submit" value="Search" class="searchsubmit">
                                                <i class="fa fa-search"></i>
                                            </button>
                                            <input type="hidden" id="page" name="p" value="">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="superContainer forContent">
                <div class="container contentBody">
                    <div class="main">
                        <div class="categoryHeader">
                            <div class="imgWrapper">
                                <img src="/contentAsset/raw-data/47622c87-b8a1-4051-9b10-f8622624a466/ch_About.jpg" alt="Ch_About.jpg"
                                    class="desktop" />
                                <img src="/contentAsset/raw-data/97aab1e9-f3e7-4a78-80f9-474e3da579f3/mch_About.jpg" alt="Mch_About.jpg"
                                    class="mobile" />
                            </div>
                            <h2>
                                About Us
                            </h2>
                        </div>
                        <div class="row">
                            <div class="four columns sidebar default">
                                </li>
                                </ul>





                                &nbsp;
                            </div>
                            <div class="twelve columns omega">
                                <div class="pageTitle">
                                    <div class="title-wrapper">
                                        <h1>About ABNB</h1>
                                        <div class="tertiaryButtons"></div>
                                    </div>
                                </div>
                                <div class="content">
                                    <ul class="secondaryButtons">
                                        <script type="text/javascript" src="https://shared.firstbranchdemo.com/application/fed-library/production/share-popup/share-popup.js"></script>
                                        <link href="https://shared.firstbranchdemo.com/application/fed-library/production/share-popup/css/share-popup.css" rel="stylesheet">
                                        <li class="share">
                                            <a>Share</a>
                                        </li>
                                        <li class="print noMobile">
                                            <a>Print</a>
                                        </li>
                                    </ul>
                                    <div class="calloutWrapper"></div>
                                    <h2>Open. Honest. Hardworking.</h2>
                                    <p>The other guys are open for business. But we say we're open for people, not for profits
                                        and gain. In fact, we've helped our members SAVE more than $48 million since 2011
                                        by refinancing their crazy high interest loans.</p>
                                    <p>Credit unions are just like that. And our credit union is open to you.&nbsp;(That's right,
                                        we don't require that you be a part of a particular organization in order to be a
                                        member here.)&nbsp;
                                        <strong>
                                            <span style="font-weight: 400;">Anyone in South Hampton Roads and parts of North Carolina can sign up for an
                                                account. </span>
                                        </strong>
                                    </p>
                                    <h3>
                                        <a href="/" target="_self">Open an account online today</a>!</h3>
                                    <h3>Our Purpose</h3>
                                    <p>To be our members most trusted lifetime financial partner.</p>
                                    <h3>Our Mission</h3>
                                    <p>Delivering financial services in a manner that improves our members' lives and benefits
                                        our community.</p>
                                    <h3>Our Value Statement&nbsp;</h3>
                                    <p>Trust earned through integrity.</p>
                                </div>
                                <div class="testimonial-wrapper">
                                    <h4>What Our Members Are Saying</h4>
                                    <div class="cycle-slideshow" data-cycle-slides="> div" data-cycle-pager=".pager" data-cycle-auto-height="container" data-cycle-pause-on-hover="true"
                                        data-cycle-timeout="8000">
                                        <div class="testimonial">
                                            <div class="thumbnail">
                                                <img src="/images/i-member-jack.jpg" />
                                            </div>
                                            <ul>
                                                <ul>
                                                    <ul></ul>
                                                </ul>
                                            </ul>
                                            <p>"Transferring my financial accounts to ABNB has been one of the best decisions
                                                I have made.</p>
                                            <p>Their professionalism, politeness and personal attention to detail have proven
                                                to be quite beneficial for me when planning for savings and investments."</p>
                                            <span
                                                class="byline">- Jack</span>
                                        </div>
                                        <div class="testimonial">
                                            <div class="thumbnail">
                                                <img src="/images/BettyDonald.jpg" />
                                            </div>
                                            <p>&ldquo;That extra $73 a month is a really big help, especially with the cost
                                                of groceries and gas constantly going up! It&rsquo;s that little extra that
                                                pays for us to go out to eat every once in a while. We&rsquo;re just so thankful
                                                for this, in the big picture&hellip;it&rsquo;s such a big deal. All thanks
                                                to ABNB!&rdquo;</p>
                                            <span class="byline">- Betty and Donald</span>
                                        </div>
                                        <div class="testimonial">
                                            <div class="thumbnail">
                                                <img src="/images/JaneAnderson.JPG" />
                                            </div>
                                            <p>&ldquo;We came in to do a quick transaction, when the teller told us she could
                                                save us some money on our new car loan. We found out that by refinancing
                                                our original car loan with ABNB, we could save over $20,000 in interest.
                                                Personally, the savings has relieved a huge financial burden for us.&rdquo;</p>
                                            <span
                                                class="byline">- Jane and Anderson</span>
                                        </div>
                                        <div class="testimonial">
                                            <div class="thumbnail">
                                                <img src="/images/i-winner-carla.jpg" />
                                            </div>
                                            <p class="style14">"I came to ABNB's Fairfield branch and they were a great help setting up my new
                                                account and explaining how different a credit union is from a traditional
                                                bank. They were also able to consolidate my credit cards when my other bank
                                                would not help me.</p>
                                            <p class="style14">Best move I could have made to choose ABNB and leave the traditional banking
                                                behind! Thanks ABNB Fairfield!"&nbsp;</p>
                                            <span class="byline">- Karla</span>
                                        </div>
                                    </div>
                                    <div class="pager"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="superContainer forFooter">
                <div class="container">
                    <div class="prefooter">
                        <div class="pf-feature">
                            <div class="icon">
                                <img src="/images/icon-open.png" />
                            </div>
                            <div class="content">
                                <h3>Open.</h3>
                                <p>We’re open to our community.</p>
                                <a href="about-us.html">Learn More About ABNB
                                    <i class="fa fa-chevron-right"></i>
                                </a>
                            </div>
                        </div>
                        <div class="pf-feature">
                            <div class="icon">
                                <img src="/images/icon-honest.png" />
                            </div>
                            <div class="content">
                                <h3>Honest.</h3>
                                <p>Put money back in your wallet.</p>
                                <a href="/">Honest to goodness savings
                                    <i class="fa fa-chevron-right"></i>
                                </a>
                            </div>
                        </div>
                        <div class="pf-feature">
                            <div class="icon">
                                <img src="/images/icon-hardworking.png" />
                            </div>
                            <div class="content">
                                <h3>Hardworking.</h3>
                                <p>Get a loan that actually works for you.</p>
                                <a href="/">Browse our loans
                                    <i class="fa fa-chevron-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div id="footer">
                        <div class="row">
                            <ul class="nthTier-1 quickLinksNav">
                                <li class="nthChild-1">
                                    <a class="nthChild-1 " href="/" title="Tell Us What You Think"
                                        target="_self">
                                        <i class="fa fa-bullhorn"></i>Tell Us What You Think
                                    </a>
                                </li>
                                <li class="nthChild-2">
                                    <a class="nthChild-2 confirm" href="http://www.youtube.com/abnbfcu" title="Video Center"
                                        target="_blank">
                                        <i class="fa fa-binoculars"></i>Video Center
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="three columns">
                            <div class="social">
                                <a href="https://www.facebook.com/abnbfcu" class="confirm fb" target="_blank">
                                    <i class="fa fa-facebook-official"></i>
                                </a>
                                <a href="https://twitter.com/abnbfcu" class="confirm twitter" target="_blank">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="https://www.youtube.com/user/ABNBfcu" class="warn youtube" target="_blank">
                                    <i class="fa fa-youtube"></i>
                                </a>
                                <a href="https://www.instagram.com/abnbfcu/" class="confirm instagram" target="_blank">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </div>
                        </div>
                        <div class="seven columns">
                            <ul class="nthTier-1 footerNav">
                               
                                <li class="nthChild-2">
                                    <a class="nthChild-2 " href="/" title="Disclosures" target="_self">Disclosures</a>
                                </li>
                                <li class="nthChild-3">
                                    <a class="nthChild-3 " href="/" title="Routing Number" target="_self">Routing Number</a>
                                </li>
                                <li class="nthChild-4">
                                    <a class="nthChild-4 " href="/" title="FAQs" target="_self">FAQs</a>
                                </li>
                                <li class="nthChild-5">
                                    <a class="nthChild-5 " href="#" title="Become A Volunteer" target="_self">Become A Volunteer</a>
                                </li>
                                <li class="nthChild-6">
                                    <a class="nthChild-6 " href="/" title="Web Accessibility"
                                        target="_self">Web Accessibility</a>
                                </li>
                            </ul>
                        </div>
                        <div class="six columns">
                            <div class="compliance">
                                <a href="../home/ncua-federal-insurance.html" id="ncua"></a>
                                <div id="eh"></div>
                                <div id="bv-logo"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="copyright">
                                ABNB Federal Credit Union Copyright &copy; 2017. Portions copyright &copy; Kasasa Ltd. All rights reserved.
                            </div>
                            <div class="ada-copy">
                                ABNB Federal Credit Union is committed to providing a website that is accessible to the widest possible audience in accordance
                                with ADA standards and guidelines. We are actively working to increase accessibility and
                                usability of our website to everyone. If you are using a screen reader or other auxiliary
                                aid and are having problems using this website, please contact us at (757) 523-5300 or (800)
                                443-1141. All products and services available on this website are available at all ABNB Federal
                                Credit Union branches.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<!-- Body Bottom -->
<!-- Audio Eye -->
<script type="text/javascript">
    !function () { var t = function () { var t = document.createElement("script"); t.src = "https://ws.audioeye.com/ae.js", t.type = "text/javascript", t.setAttribute("async", ""), document.getElementsByTagName("body")[0].appendChild(t) }; "complete" !== document.readyState ? window.addEventListener ? window.addEventListener("load", t) : window.attachEvent && window.attachEvent("onload", t) : t() }()
</script>
<!-- End Audio Eye -->
<!-- End Body Bottom -->