$color-white: #ffffff;
$color-brand-blue: #0d47a1;
$color-brand-black: #040000;
$color-link-normal: gray;
$color-brand-gray-light: rgba(0,0,0,0.05);

// font sizes:

$font-size-base: 12px;
$font-size-lg: 4.2rem;
$font-size-md: 2.56rem;

// font families:

$font-family-primary: 'Montserrat', sans-serif;

