.side-nav-section {
  margin-bottom: 25px;

  ul {
    margin: 0;
  }

  li, li > a {
    height: unset;
    line-height: unset;
  }

  .side-nav-header {
    font-size: .9rem;
    font-weight: 700;
    line-height: 1.1;
    margin: 10px 0;
    padding: 0 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .side-nav-item {
    a {
      padding: 15px 32px !important;
      cursor: pointer;
      color: $color-link-normal;
    }
    a:hover {
      border-left: solid 4px $color-link-normal;
    }
    a:active {
      border-left: solid 4px #0d47a1;
    }
  }
}
.side-nav-profile {
  padding: 0 32px !important;
}

.page-down {
  float: right;
  padding-left: 110px;
}
.profile-item {
  display: flex;
  align-items: center;
}
.side-nav-section.logo {
  padding: 25px 32px;
  border-bottom: 1px solid $color-brand-gray-light;
  
}